html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  color: #333;
  background-color: #e8e8e8;
  font-family: "Hiragino Sans GB", sans-serif;
}
.body-box {
  width: 1000px;
  height: 100%;
  margin: auto;
  background-color: #fff;
}
.body-box .content-box {
  display: flex;
  align-items: stretch;
  height: 100%;
}
html, body ,div, h1, h2, h3, h4, h5, h6, p, ul, li, ol, dl, dt, dd, form, input, a, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, pre, blockquote { margin: 0; padding: 0 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img{ border: none; }
li { list-style-type: none }
a { text-decoration: none; outline: none}
a:hover { text-decoration: none; }
code,pre,input { font-family: source-han-serif-sc, serif; }
.fl{ float: left; }
.fr {float: right;}
.cl::after {content: ""; display: block; clear: both;}
.archive-year {
  font-size: 26px;
  padding: 20px 0px;
  color: #333;
}
.archive-year span.year-block,
.archive-year span.year-info {
  display: inline-block;
}
.archive-year span.year-block {
  width: 50px;
  height: 25px;
  background-color: #f1f1f1;
}
.archive-year span.year-info {
  margin-left: -20px;
  font-weight: normal;
}
.archive-year span.year-info:first-letter {
  color: #333;
}
.content-article {
  flex: 1;
  height: 100%;
  overflow: auto;
  background-color: #fff;
}
.content-article::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
.content-article::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dadada;
}
.content-article .content-article-box {
  padding: 20px 30px;
}
.content-article .article {
  padding: 20px 0px;
  border-bottom: 1px dotted #f1f1f1;
}
.content-article .article-post {
  border-bottom: none;
}
.content-article .article-post .article-title {
  font-size: 32px !important;
  margin-bottom: 50px;
  word-break: break-all;
}
.content-article .article-time {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #a0a0a0;
}
.content-article .article-title {
  font-size: 26px;
}
.content-article .article-title .title-main {
  font-weight: bold;
  color: #333;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content-article .article-title .title-main:hover {
  text-decoration: underline;
}
.content-article .article-con {
  font-size: 16px;
  line-height: 150%;
}
.content-article .article-con p {
  word-break: break-all;
  margin: 10px 0px;
}
.content-article .article-con h1,
.content-article .article-con h2,
.content-article .article-con h3,
.content-article .article-con h4,
.content-article .article-con h5,
.content-article .article-con h6 {
  margin: 20px 0px;
  border-bottom: 1px dotted $border_color;
}
.content-article .article-con h1 {
  font-size: 1.8em;
}
.content-article .article-con h2 {
  font-size: 1.5em;
}
.content-article .article-con h3 {
  font-size: 1.2em;
}
.content-article .article-con blockquote {
  border: 1px solid #f1f1f1;
  font-size: 14px;
  padding: 10px 20px;
  margin: 20px 0px;
  overflow: auto;
}
.content-article .article-con a {
  color: #333;
  text-decoration: underline;
}
.content-article .article-con ul,
.content-article .article-con ol {
  padding-left: 20px;
}
.content-article .article-con li {
  list-style: square;
}
.content-article .article-con .highlight {
  font-size: 0.8em;
  margin: 10px 0px;
  overflow: auto;
}
.content-article .article-con .highlight .gutter {
  color: #b1b1b1;
  padding-right: 10px;
}
.content-article .article-con .highlight table {
  width: auto;
  text-indent: 0px;
}
.content-article .article-con .highlight table td,
.content-article .article-con .highlight table th {
  border: none;
}
.content-article .article-con hr {
  border: none;
  background-color: $border_color;
  height: 1px;
}
.content-article .article-con img {
  display: block;
  border-radius: 2px;
  max-width: 100%;
  margin: auto;
}
.content-article .article-con table {
  width: 100%;
  border-collapse: collapse;
  text-indent: 20px;
}
.content-article .article-con table td,
.content-article .article-con table th {
  padding: 5px 0px;
  border: 1px solid #dadada;
}
.content-article .article-con table th {
  background: #f1f1f1;
  color: #fff;
  text-align: left;
  text-indent: 20px;
}
.content-article .article-navgition {
  margin-top: 40px;
  font-size: 16px;
}
.content-article .article-navgition .navgition-prev {
  text-align: left;
}
.content-article .article-navgition .navgition-next {
  text-align: right;
}
.content-article .article-navgition .navgition-wrap {
  display: flex;
}
.content-article .article-navgition .navgition-wrap > div {
  flex: 1;
  float: left;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.content-article .article-navgition .navgition-wrap > div:hover a {
  text-decoration: underline;
}
.content-article .article-navgition .navgition-wrap:after {
  content: "";
  display: block;
  clear: both;
}
.content-article .article-navgition .navgition-title {
  font-size: 14px;
  font-weight: normal;
  color: #a0a0a0;
}
.content-article .article-navgition .navgition-title a {
  color: #333;
  text-decoration: underline;
}
.content-article .pagination {
  border-bottom: 1px dotted #f1f1f1;
  margin: 40px 0px;
}
.content-article .pagination .current {
  color: #333;
  font-weight: bold;
  background-color: #f1f1f1;
}
.content-article .pagination span,
.content-article .pagination a {
  display: inline-block;
  font-size: 18px;
  padding: 10px 15px;
  color: #4e4e4e;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.content-article .pagination span:hover,
.content-article .pagination a:hover {
  color: #333;
  font-weight: bold;
  background-color: #f1f1f1;
}
.content-article .article-column-title {
  padding: 20px 0px;
  font-size: 24px;
}
.content-article .article-column-title span {
  background-color: #f1f1f1;
  color: #333;
  display: inline-block;
  margin: 0px 5px;
}
.footer {
  text-align: right;
  padding: 20px 30px;
}
.footer .footer-intro {
  color: #a0a0a0;
  margin: 10px 0px;
  font-size: 12px;
}
.footer .footer-intro a {
  color: #a0a0a0;
  text-decoration: underline;
}
.footer .social-list li {
  margin: 0px 3px;
  display: inline-block;
  font-size: 22px;
}
.footer .social-list li a {
  color: #333;
}
.sidebar {
  width: 250px;
  height: 100%;
  border-right: 1px solid #f1f1f1;
  position: relative;
}
.sidebar .sidebar-wrap {
  padding: 40px 20px;
}
.sidebar .sidebar-wrap>div {
  margin-bottom: 40px;
}
.sidebar .widget-title {
  padding-bottom: 20px;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  text-align: center;
}
.sidebar .widget-me {
  padding: 20px 0px;
  word-break: break-all;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.sidebar .widget-me .me-background {
  background-color: #eee;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.sidebar .widget-me .me-name {
  position: relative;
  z-index: 2;
}
.sidebar .widget-me .me-name a {
  color: #333;
  font-size: 28px;
  padding: 20px 0px;
}
.sidebar .widget-me .me-name small {
  display: block;
  color: #333;
  font-size: 14px;
}
.sidebar .widget-me .me-avatar {
  width: 100px;
  margin: auto;
  position: relative;
  z-index: 2;
}
.sidebar .widget-me .me-avatar img {
  width: 100%;
  border-radius: 50%;
}
.sidebar .widget-nav .nav-list {
  text-align: center;
}
.sidebar .widget-nav .nav-list li a {
  color: #333;
  display: block;
  font-size: 16px;
  padding: 10px 0px;
  background-color: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.sidebar .widget-nav .nav-list li a:hover,
.sidebar .widget-nav .nav-list li a.active {
  color: #333;
  background-color: #f1f1f1;
  font-weight: bold;
}
@media screen and (max-width: 960px) {
  .body-box {
    width: 100%;
  }
  .sidebar {
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }
  .sidebar .widget-tags {
    display: none;
  }
  .content-article {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    z-index: 2;
  }
  .content-article .article-post {
    padding: 0px;
  }
  .content-article .content-article-box {
    padding: 20px;
  }
  .content-article .mobile-toggle {
    display: block !important;
    margin: 20px;
  }
  .content-article .mobile-toggle img {
    display: block;
    width: 30px;
  }
}
